<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Desafio Zello - DevOps</title>
</head>

<style>
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
</style>

<body class="center">
  <h1>Desafio Zello - DevOps</h1>
  <div class="container">
    <label>Pense em uma cor, e depois clique em "Adivinhar"</label>
  </div>
  <div>
    <form method="GET" action="/resposta">
      <button type="submit">Adivinhar</button>
    </form>
  </div>
</body>

</html>